[submodule "build-infra"]
	path = build-infra
	url = git@github.com:InfiCell/clearwater-build-infra.git
[submodule "clearwater-etcd-plugins"]
	path = modules/clearwater-etcd-plugins
	url = git@github.com:InfiCell/clearwater-etcd-plugins.git
